/*add 20161222*/
.md-theme-default .md-input-container.md-input-invalid label,
.md-theme-default .md-input-container.md-input-invalid .md-error,
.md-theme-default .md-input-container.md-input-invalid .md-count,
.md-theme-default .md-input-container.md-input-invalid input,
.md-theme-default .md-input-container.md-input-invalid textarea, .md-theme-default.md-input-container.md-input-invalid label, .md-theme-default.md-input-container.md-input-invalid .md-error, .md-theme-default.md-input-container.md-input-invalid .md-count, .md-theme-default.md-input-container.md-input-invalid input, .md-theme-default.md-input-container.md-input-invalid textarea{
  color:#c00 !important;
}
.md-theme-default .md-button:not([disabled]).md-raised.rew, .md-theme-default.md-button:not([disabled]).md-raised.rew{
  background-color:#e2e2e2 !important;
}
.md-button{
  // text-transform: uppercase;
  text-transform: none !important;
  white-space:normal !important;
}

.md-input-container .md-error{
  bottom: -30px;
}
.md-whiteframe{
  margin-bottom: 30px;
}
/*--//add 20161222 -------------*/

.md-input-container {
  .md-input {
    background-color: #eee;
    transition: all .3s;
    // box-shadow: 0 4px 9px -6px rgba(0, 0, 0, 0.3) inset;
  }

  &.md-input-focused, &.md-has-value {
    .md-input {
      background-color: #fff;
    }
  }

  &.bottomSubText {
    margin-bottom: 4px;
  }
}

.rowTtl {
  margin-bottom: 0;
}

.md-checkbox {
  // 丁目・番地下�?�チェ��?クボックス
  &.subForm {
    margin-top: 4px;
  }
}
